.searchBar {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 2rem;
 margin-bottom: 3.5rem;
}

.searchBar input {
 width: 16rem;
 padding: 0.5rem 0rem;
 margin-bottom: 1.4rem;
 border: none;
 text-align: center;
}

.searchBar input:focus {
 outline: none;
}

.searchBar button {
 width: 8rem;
 padding: 0.5rem 0.5rem;
 border: none;
 border-radius: 2rem;
}